:root {
	// Signalisiere, dass die Seite helle und dunkle Darstellung unterstützt.
	//https://css-tricks.com/a-complete-guide-to-dark-mode-on-the-web/#aa-handling-user-agent-styles
	color-scheme: light dark;

	// Variablennamen zum Beschreiben der Farbe
	--imperial-red: hsl(354.8 60.6% 51.2%);
	--honeydew: hsl(105 55% 96%);
	--powder-blue: hsl(182 43% 76%);
	--celadon-blue: hsl(203 39% 44%);
	--prussian-blue: hsl(215 50% 23%);
	--black: hsl(0 10% 6%);
	--dark-purple: hsl(230, 33%, 21%);
	--white: hsl(60, 100%, 100%);
	--light-gray: hsl(235, 15%, 70%);
	--orange: hsl(32, 100%, 51%);
	--medium-red: hsl(339, 78%, 55%);
	--dark-red: hsl(0, 100%, 43%);
	--light-red: hsl(7, 86%, 62%);
	--text: var(--light-gray);

	// Variablennamen zum Beschreiben der Funktion
	--background-color: hsl(var(--blue-11-hsl) / 90%);
	--text-color: var(--powder-blue);
	--heading-footing-color: var(--powder-blue);
	--link-color: var(--imperial-red);
	--active-link-color: var(--celadon-blue);
	--header-footer-background: hsl(var(--blue-10-hsl) / 90%);
	--header-color: var(--powder-blue);
	--button-background-color: var(--dark-purple);
	--button-text-color: var(--blue-4);
	// https://css-tricks.com/a-complete-guide-to-dark-mode-on-the-web
	@media (prefers-color-scheme: dark) {
	}
}
